extends layout

block content

        #lessonList.container

            br
            table.table
                thead
                    tr
                        th Sequence Number
                        th Course Name
                        th Course Code
                tbody
            form.hidden
                input#sequenceNumber.form-control
            form
                .form-group.row
                    label.col-sm-2.col-form-label Course Code:
                    .col-sm-10
                        input#courseCode.form-control
            form
                .form-group.row
                    label.col-sm-2.col-form-label Course Name:
                    .col-sm-10
                        input#courseName.form-control
            form
                .form-group.row
                    label.col-sm-2.col-form-label Course Content:
                    .col-sm-10
                        input#courseContent.form-control


            .row
                .col-sm-4
                .col-sm-4
                    button#xmlFormat.btn.btn-primary(type='button') XML&nbsp &nbspFormat
                .col-sm-4
                    button#jsonFormat.btn.btn-primary(type='button')  JSON Format
            .form-group
                label(for='comment') Encoded Data:
                textarea#comment.form-control(rows='5')
            br
            h2(style='text-align: center') Add Lesson
            br
            #addLesson
                fieldset
                    form
                        .form-group.row
                            label.col-sm-2.col-form-label Sequence Number:
                            .col-sm-10
                                input#inputsequenceNumber.form-control
                    form
                        .form-group.row
                            label.col-sm-2.col-form-label Course Code:
                            .col-sm-10
                                input#inputcourseCode.form-control
                    form
                        .form-group.row
                            label.col-sm-2.col-form-label Course Name:
                            .col-sm-10
                                input#inputcourseName.form-control
                    form
                        .form-group.row
                            label.col-sm-2.col-form-label Course Content:
                            .col-sm-10
                                input#inputcourseContent.form-control
                    .row
                        .col-sm-4
                        .col-sm-4
                        .col-sm-4
                            button#btnAddLesson.btn.btn-primary(type='button')  Add Lesson
